[package]
name = "chronicle"
version = "0.0.1"
authors = ["IOTA Stiftung"]
edition = "2021"
description = "IOTA permanode implemented as an IOTA Node Extension (INX)."
readme = "README.md"
repository = "https://github.com/iotaledger/inx-chronicle"
license = "Apache-2.0"
keywords = ["iota", "storage", "permanode", "chronicle", "inx"]
homepage = "https://www.iota.org"

[lib]
name = "chronicle"
path = "src/lib.rs"

[[bin]]
name = "inx-chronicle"
path = "bin/inx-chronicle/src/main.rs"

[dependencies]
async-recursion = { version = "1.0", default-features = false }
async-trait = { version = "0.1", default-features = false }
clap = { version = "3.1", default-features = false, features = ["derive", "std"] }
dotenv = { version = "0.15", default-features = false }
env_logger = { version = "0.9", default-features = false, features = ["termcolor", "atty", "humantime"] }
futures = { version = "0.3", default-features = false }
inx = { git = "https://github.com/iotaledger/inx", version = "0.2", default-features = false, features = ["types"] }
log = { version = "0.4", default-features = false }
mongodb = { version = "2.1", default-features = false, features = ["bson-chrono-0_4", "tokio-runtime"] }
serde = { version = "1.0", features = ["derive"], default-features = false }
thiserror = { version = "1.0", default-features = false }
tokio = { version = "1.17", default-features = false, features = [ "macros", "rt-multi-thread", "signal" ] }
tokio-stream = { version = "0.1", default-features = false }
toml = { version = "0.5", default-features = false }
uuid = { version = "0.8", default-features = false }

# optional
bee-message-stardust = { package = "bee-message", version = "0.2", git = "https://github.com/iotaledger/bee", branch = "shimmer-develop", default-features = false, features = ["std", "serde1", "dto"], optional = true }

[features]
default = ["chrysalis", "stardust"]
chrysalis = []
stardust = ["bee-message-stardust"]

