[package]
name = "chronicle-inx"
version = "0.1.0"
authors = ["IOTA Stiftung"]
edition = "2021"
description = "IOTA permanode implemented as an IOTA Node Extension (INX)"
readme = "README.md"
repository = "https://github.com/iotaledger/inx-chronicle"
license = "Apache-2.0"
keywords = ["iota", "storage", "permanode", "node", "inx"]
homepage = "https://www.iota.org"

[lib]
name = "chronicle"
path = "src/lib.rs"

[[bin]]
name = "inx-chronicle"
path = "src/main.rs"

[dependencies]
actix = { version = "0.13", default-features = false, features = ["macros"] }
anyhow = { version = "1.0", default-features = false, features = ["std"] }
async-trait = { version = "0.1", default-features = false }
cfg-if = { version = "1.0", default-features = false }
derive_more = { version = "0.99", default-features = false }
dotenv = { version = "0.15", default-features = false }
env_logger = { version = "0.9", default-features = false }
futures = { version = "0.3", default-features = false }
hex = { version = "0.4", default-features = false }
lazy_static = { version = "1.4", default-features = false, optional = true }
log = { version = "0.4", default-features = false }
mongodb = { version = "2.1", default-features = false, features = ["tokio-runtime"] }
pin-project = { version = "1.0", default-features = false, optional = true }
primitive-types = { version = "0.10", default-features = false, features = [ "serde" ] }
prometheus = { version = "0.13", default-features = false, optional = true }
serde = { version = "1.0", features = ["derive"], default-features = false }
serde_json = { version = "1.0", default-features = false }
serde_urlencoded = { version = "0.7", default-features = false }
thiserror = { version = "1.0", default-features = false }
time = { version = "0.3", default-features = false }
tokio = { version = "1.0", default-features = false }

# API
axum = { version = "0.4", default-features = false, features = ["http1", "json"], optional = true }
hyper = { version = "0.14", default-features = false, features = ["server", "tcp", "stream"], optional = true }
tower = { version = "0.4", default-features = false, optional = true }
tower-http = { version = "0.2", default-features = false, features = ["cors", "catch-panic", "trace"], optional = true }

# Chrysalis types
bee-message-cpt2 = { package = "bee-message", version = "0.1", default-features = false, features = ["serde"] }
bee-rest-api-cpt2 = { package = "bee-rest-api", version = "0.1", default-features = false }

# Stardust types
bee-message-stardust = { git = "https://github.com/iotaledger/bee.git", branch = "shimmer-develop", default-features = false, features = ["std", "serde1", "dto"], package = "bee-message" }
bee-rest-api-stardust = { git = "https://github.com/iotaledger/bee.git", branch = "shimmer-develop", default-features = false, package = "bee-rest-api" }

[features]
default = [ "api" ]
api = [ 
    "axum",
    "hyper",
    "tower",
    "tower-http"
]
api-metrics = [ 
    "api",
    "lazy_static",
    "pin-project",
    "prometheus"
]
