[mongodb]
### Listening address of the MongoDB instance.
connect_url = "mongodb://localhost:27017"

### MongoDB credentials.
username = "root"
password = "root"

### Chronicle allows different database names, so multiple 
### networks can run within the same MongoDB instance.
database_name = "chronicle"

[api]
### Whether API requests will be served.
enabled = true

### API listening port. 
port = 8042

### CORS.
allow_origins = "0.0.0.0"

### JsonWebToken (JWT) credentials.
password_hash = "f36605441dd3b99a0448bc76f51f0e619f47051989cfcbf2fef18670f21799ad" # "password"
password_salt = "saltines"
jwt_expiration = "72h"

### Public API routes.
public_routes = [
    # Activated APIs.
    "api/analytics/v2/*",
    "api/core/v2/*",
]

### Maximum number of records returned by a single API call
max_page_size = 1000

[inx]
### Whether INX is used (online mode).
enabled = true

### Listening address of the node's INX interface.
connect_url = "http://localhost:9029"

### Time to wait until a new connection attempt is made.
connection_retry_interval = "5s"

### Maximum number of tries to establish an INX connection.
connection_retry_count = 30

### Milestone at which synchronization should begin. A value of `1` means syncing back until genesis.
sync_start_milestone = 1 

[metrics]
### Whether metrics will be served.
enabled = true

### Bind address of the metrics server.
address = "0.0.0.0"

### Bind port of the metrics server.
port = 9100
