[mongodb]
connect_url = "mongodb://localhost:27017"
username = "root"
password = "root"

[api]
port = 9092
allow_origins = ["0.0.0.0"]

[collector.inx.syncer]
sync_kind = { max_milestones = 1000 }

[collector.inx]
connect_url = "http://localhost:9029"
connection_retry_interval = "5s"

[collector]
solidifier_count = 10

[metrics]
address = "0.0.0.0"
port = 9100
