name: ci

on:
  push:
    paths-ignore: 
      - '**.md'
      - 'documentation/**'
      - 'docker/**'
    branches:
      - main
  pull_request:
    paths-ignore: 
      - '**.md'
      - 'documentation/**'
      - 'docker/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check-and-test:
    name: "check and test"
    uses: ./.github/workflows/_check.yml
    with: { os: ubuntu-latest, rust: stable }

  format:
    uses: ./.github/workflows/_fmt.yml
    with: { os: ubuntu-latest, rust: nightly }

  clippy:
    uses: ./.github/workflows/_clippy.yml
    with: { os: ubuntu-latest, rust: stable }
  
  check-toml:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          override: true

      - uses: actions-rs/cargo@v1
        with:
          command: install
          args: --force cargo-sort

      - uses: actions-rs/cargo@v1
        with:
          command: ci-toml

  docs:
    runs-on: ubuntu-latest
    env:
      RUSTDOCFLAGS: "-D warnings"
    steps:
      - uses: actions/checkout@v2

      - uses: actions-rs/toolchain@v1
        with:
            profile: minimal
            toolchain: nightly
            override: true

      - uses: Swatinem/rust-cache@v1

      - name: Install Protoc
        uses: arduino/setup-protoc@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions-rs/cargo@v1
        with:
          command: ci-doc
